<?php
    $areas = config('area');
?>
<!-- 新增客户功能区开始 -->
                            <div class="" style="padding-top: 24px;padding-bottom: 24px;">
                                <form id="dayu-form" class="form-inline" action="{:url("Clients/add")}">
                                  <div class="form-group">
                                    <label for="companyname">添加客户：</label>
                                    <input type="text" name="companyname" class="form-control" id="companyname" placeholder="请输入">
                                  </div>
                                  <button type="button" id="dayu-button-submit" class="btn btn-default">提交</button>
                                </form>
                            </div>
                            <div>
                                检索到{$count}条数据。
                            </div>
<!-- 新增客户功能区结束 -->

<script>
    var SCOPE = {
        'check_url' : '{:url("clients/checkData")}',
        'update_url': '{:url("clients/updateDataByid")}',
        'save_url'  : '{:url("clients/add")}'
    }
</script>
<style type="text/css">
    .mes-short{max-width: 60px;}
    .mes-middle{max-width: 100px;}
    .mes-lang{max-width: 300px;}
    .table>tbody>tr>td.mes-short div, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{max-width: 45px;}
    .table>tbody>tr>td.mes-short, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{max-width: 45px;}
    .table>tbody>tr>td.mes-middle, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{max-width: 100px;}
    .table>tbody>tr>td.mes-lang, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{max-width: 300px;}
</style>




