
	<!-- Javascript -->
	<script src="__STATIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="__STATIC__/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="__STATIC__/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="__STATIC__/vendor/chartist/js/chartist.min.js"></script>
    <script src="__STATIC__/scripts/klorofil-common.js"></script>
    <script src="__STATIC__/layer/layer.js"></script>
    <script src="__STATIC__/js/dialog.js"></script>
	<script src="__STATIC__/editable/x-editable.js"></script>
    <script type="application/javascript" src="__STATIC__/js/bootstrap-datetimepicker.js"></script>
    <script type="application/javascript" src="__STATIC__/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="application/javascript" src="__STATIC__/js/common.js"></script>

</body>
</html>